html {
  background-color: #F5EFCD; 
}

body {
  font-size: 14px;
  background-color: #BEC9B4;
  margin: 4em;
  margin-top: 1em;
  padding: 1em;
  border-radius: 0.5em;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}
h2 {
  font-weight: bold;
}

div#links > ul > li {
  background-color: #98B0AE;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 0.5em;
}

div#links > ul > li > span {
  color: #59717F;
  display: block; 
}

div#links > ul > li > a {
  font-size: 1.5em;
}

div#links > ul > li > input {
  float: right;
  //background-color: #BEC9B4;
}
div#links > ul > li > a {
  float: left;
}
div#links > ul > li > span {
  clear: both;
}
